.sunny, .cloudy, .rainy {
    display: block;
    margin: 30px auto 10px;
    width: 128px;
    height: 128px;
    background: url('https://demos.telerik.com/kendo-ui/content/web/tabstrip/weather.png') transparent no-repeat 0 0;
}

.cloudy {
    background-position: -128px 0;
}

.rainy {
    background-position: -256px 0;
}

.forecast-item {
    margin: .5em;
    background-image: linear-gradient(-225deg, rgba(55, 98, 145, 0.75) 0%, rgba(171,191,212,0.60) 100%);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    border: none;
}

.forecast-item--selected {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.5);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
}

.temperature {
    font-size: 5em;
    line-height: 1;
    text-align: center;
    color: white;
}
