@page "/"

<h1>Component Basics</h1>
<p>
    This is a sample which was built for the Blazor Quick Start video series.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLvmaC-XMqeBYPTwcm478vs8Rujq2tiVJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
